@import "./../../styles/globals/BREAKPOINTS.scss";
.header {
  width: 100%;
  max-width: 1000px;
  height: 180px;
  padding: 0px 40px;
}
.header-image {
  background-image: url(../../public/mainheader.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: $breakpoint-md) {
  .header {
    padding: 0;
    height: initial;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-image {
    height: 140px;
    width: 100%;
    max-width: 576px;
    background-size: contain;
  }
}
@media screen and (max-width: $breakpoint-sm) {
  .header {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-image {
    height: 100px;
    width: 100%;
    max-width: 400px;
    background-size: contain;
  }
}
