$background-gradiant: linear-gradient(to bottom, #e8ebee 0, #e8ebee 205px)
    no-repeat,
  #e8ebee;

$font-primary: #404040;
$primary-200: #d9edf7;

$primary-300: #2285c8;
$primary-500: #2e74b5;
$primary-700: #0000ff;

$secondary-300: white;
$secondary-400: #f3f3f3;
$secondary-500: #e8ebee;
$secondary-600: #555;
