$font-family: "Arial", sans-serif;

$font-size-nav: 18px;
$font-weight-nav: 400;
$line-height-nav: 30px;

$font-size-subnav: 14px;
$font-weight-subnav: 700;
$line-height-subnav: 25px;

$font-size-link: 14px;
$font-weight-link: 400;
$line-height-link: 18px;

$font-size-h1: 22px;
$font-weight-h1: 700;
$line-height-h1: 18px;

$font-size-h2: 18px;
$font-weight-h2: 700;
$line-height-h2: 18px;

$font-size-h3: 16px;
$font-weight-h3: 700;
$line-height-h3: 18px;

$font-size-md: 14px;
$font-weight-md: 400;
$line-height-md: 18px;

$font-size-sm: 12px;
$font-weight-sm: 300;
$line-height-sm: 16px;
