@import "./../../../../styles/globals/BREAKPOINTS.scss";
@import "./../../../../styles/globals/COLORS.scss";
.link-main {
  font-size: 14px;
  color: $primary-500;
  text-transform: uppercase;
  padding: 0.2rem 0;
  border-bottom: 1px solid rgba(96, 139, 170, 0.453);
}
.link-secondary {
  font-size: 14px;
  color: $primary-500;
  text-transform: uppercase;
  margin-bottom: 0.4rem;
}
.link-disabled {
  color: #546473;
}
